@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sora:wght@100..800&display=swap');

:root{
    --heading-font: "Merriweather";
  --paragraph-font: "Sora";
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: #b9d36c;
    text-decoration: none;
    font-family: var(--paragraph-font);
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
}
body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 22px;
}
header{
    background-color: #286217;
}
nav a:hover{
    background-color: #91C6F1;
    color: #0A5593;
}
.book:hover, .join:hover{
    background-color: #91C6F1;
    color: #0A5593;
}
#background{
    background-color: #0A5593;
}
.msg{
    background-color: #012F54;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: #b9d36c;
    color: #286217;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title{
    color: #012F54;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: #0A5593;
}
.book, .join{
    color: #91C6F1;
    text-decoration: none;
    font-size: 18px;
    font-family: var(--paragraph-font);
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #0A5593;
}
.msg h2{
    color: #91C6F1;
}
.msg p{
    color: #91C6F1;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a{
    color: #286217;
    text-decoration: none;
}
footer a:hover{
    color: #0A5593;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}
p {
    font-family: var(--paragraph-font);
}
main h2{
    color: #012F54;
}
h2 {
    margin: 0px;
}
#logo_link{
    padding-top: 5px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #0A5593;
}
main section img{
    box-sizing: border-box;
}