@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Sora:wght@100..800&display=swap');

:root{
    --heading-font: "Rubik Mono One";
  --paragraph-font: "Sora";
}
.logo {
    width: 120px;
    background-color: #F1406D;
}
header {
    background-color: #FFB3C6;
    height: 120px;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover{
    background-color: #13BCC2;
    color: #B9EBE7;
}
nav a{
    font-family: var(--heading-font);
    color: #F1406D;
    font-size: large;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#portfolio-img img {
    /*the line below can be discarded once you get more in depth with css*/
    max-width: 300px;
}
h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color: #006366;
}
p {
    font-family: var(--paragraph-font);
    font-size: 20px;
}
body {
    background-color: #B9EBE7;
}
#welcome_about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .25fr .5fr .1fr .5fr;
    align-items: center;
}
#big_logo{
    grid-column: 1;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    width: 500px;
}
#welcome_about h1 {
    align-self: center;
    justify-self: center;
}
#welcome_about p {
    background-color: #13BCC2;
    width: 600px;
    padding: 10px;
    border-radius: 7px;
    font-size: 20px;
    color: #B9EBE7;
    align-self: center;
    justify-self: center;
    text-align: center;
}
#featured {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: .25fr .5fr 3.5fr;
    justify-items: center;
    align-items: center;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}
#featured h1 {
    grid-column: 2/3;
    grid-row: 1/2;
}
#featured p {
    background-color: #F1406D;
    width: 600px;
    padding: 10px;
    border-radius: 7px;
    font-size: 20px;
    color: #B9EBE7;
    text-align: center;
    grid-column: 2/3;
    grid-row: 2/3;
}
#feat1 {
    grid-column: 1/2;
    order: 1;
    width: 400px;
    grid-row: 3/4;
    box-shadow: 5px 5px 10px #006366;
}
#feat2 {
    grid-column: 2/3;
    order: 1;
    height: 400px;
    grid-row: 3/4;
    box-shadow: 5px 5px 10px #006366;
}
#feat3 {
    grid-column: 3/4;
    order: 1;
    width: 400px;
    grid-row: 3/4;
    box-shadow: 5px 5px 10px #006366;
}
#feat-box {
    background-color: #13BCC2;
    height: 450px;
    width: 750px;
    grid-column: 2/3;
    grid-row: 3/4;
    order: -1;
}
#portfolio-img h1, h3 {
    text-align: center;
}
#portfolio-img {
    display: grid;
    grid-template-columns: .25fr .25fr .25fr .25fr;
    grid-template-rows: .25fr .25fr .25fr;
    justify-items: center;
    align-items: center;
    margin: auto;
    background-color: #13BCC2;
    padding: 20px;
    border-radius: 7px;
    margin: 40px;
    gap: 20px;
}
#artwork_1 {
    grid-column: 1/2;
    grid-row: 1/2;
    box-shadow: 5px 5px 10px #006366;
}
#artwork_2 {
    grid-column: 2/3;
    grid-row: 1/2;
    box-shadow: 5px 5px 10px #006366;
}
#artwork_3 {
    grid-column: 3/4;
    grid-row: 1/2;
    box-shadow: 5px 5px 10px #006366;
}
#artwork_4 {
    grid-column: 4/5;
    grid-row: 1/2;
    box-shadow: 5px 5px 10px #006366;
}
#artwork_5 {
    grid-column: 1/2;
    grid-row: 2/3;
    box-shadow: 5px 5px 10px #006366;
}
#artwork_6 {
    grid-column: 2/3;
    grid-row: 2/3;
    box-shadow: 5px 5px 10px #006366;
}
#artwork_7 {
    grid-column: 3/4;
    grid-row: 2/3;
    box-shadow: 5px 5px 10px #006366;
}
#artwork_8 {
    grid-column: 4/5;
    grid-row: 2/3;
    box-shadow: 5px 5px 10px #006366;
}
#artwork_9 {
    grid-column: 1/2;
    grid-row: 3/4;
    box-shadow: 5px 5px 10px #006366;
}
#artwork_10 {
    grid-column: 2/3;
    grid-row: 3/4;
    box-shadow: 5px 5px 10px #006366;
}
#artwork_11 {
    grid-column: 3/4;
    grid-row: 3/4;
    box-shadow: 5px 5px 10px #006366;
}
#artwork_12 {
    grid-column: 4/5;
    grid-row: 3/4;
    box-shadow: 5px 5px 10px #006366;
}
#port_title {
    justify-items: center;
    align-items: center;
    justify-self: center;
    margin: 40px;
}
.click {
    justify-items: center;
    align-items: center;
    margin: 50px;
}
.img-click {
    width: 800px;
    margin: 50px;
    justify-self: center;
}
.img-click-v {
    height: 700px;
    justify-self: center;
    margin-bottom: 50px;
}
.p-click {
    width: 600px;
    margin: auto;
    justify-self: center;
    justify-items: center;
    align-items: center;
    background-color: #13BCC2;
    color: #006366;
    padding: 20px;
    border-radius: 7px;
    gap: 20px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #F1406D;
    color: #B9EBE7;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--paragraph-font);
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #13BCC2;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #FFB3C6;
    padding: 20px;
    width: 75%;
    justify-items: center;
    align-items: center;
    justify-self: center;
    margin: 40px;
    font-family: var(--paragraph-font);
  }
  label {
    font-family: var(--heading-font);
    color: #006366;
  }
  input[type=text], textarea {
    font-family: var(--paragraph-font);
  }
  #portfolio-text {
    background-color: #FFB3C6;
    color: #F1406D;
    width: 800px;
    justify-self: center;
    padding: 10px;
    border-radius: 7px;
    font-size: 20px;
    margin: 40px;
  }
  #projects-img img {
    width: 500px;
  }